@page{
    margin:1.2in 5mm 2cm 5mm; /*header/footer height must match margin sizes*/
    size: a4 portrait;
    marks: crop cross;
    bleed: auto;
}

.page-break {
    page-break-after: always;
}

.keep-together {
    page-break-inside: avoid;
}

body {
    font-family: Helvetica;
    font-size: 16px;
}

h1 {
    text-align:center;
}

table {
    border-collapse: collapse;
    margin: 10px 0;
    padding: 0px;
    width: 100%;
}

table th {
    font-size: 22px;
    font-weight: strong;
    background-color: #660066;
    color: white;
}

table.report-header { border: none; }
table.report-header td { border: none; }

table.info {
    border: 1px solid black;
}

table.info th {
    width:50%;
}

table.info td {
    border: 1px solid black;
    width: 25%;
    font-weight: normal;
}

table.about {
  font-size:90%;
}

img.report-figure {
    height: 6in;
}

img.univar-figure {
    height: 8in;
}

table.text-result {
    background-color: grey;
    color: black;
    text-align: center;
    font-weight: strong;
    font-size: 24px;
}

.omicron tr {
    border: 1px solid black;
    padding: 0;
}
.omicron td {
    padding: 2;
    border: 1px solid black;
    vertical-align: center;
    text-align: center;
}

.rotated {
    transform: rotate(-90deg);
    white-space: nowrap;
}

table.header {
    text-align: center;
    height: 1.1in /*Set this to within height of top margin*/
}

table.footer {
    font-family: Calibri;
    font-size:80%;
    text-align:center;
    height: 2cm /*Set this to within height of bottom margin*/
}

.left-align { text-align: left; }
.right-align { text-align: right; }
.middle-align { vertical-align:middle; }
