<!DOCTYPE html>
<html>
<style>
	@page{margin:0cm 0cm 0cm 0cm}
	table{
		margin-top:-15px;
	}
	#table1{
		width:100%;
	}
	#table2{
		width:100%;
	}
	#table3{
		width:50%;
	}
	#table4{
		width:100%;
	}
	#table5{
		width:100%;
	}
	#table6{
		width:100%;
	}
	#table7{
		width:100%;
	}
	#table8{
		width:100%;
	}
	#table9{
		width:100%;
	}
	#table10{
		width:100%;
	}
	#table11{
		width:100%;
	}
	#table12{
		width:100%;
	}
	#table13{
		width:100%;
	}
	#table14{
		width:100%;
	}
	p{
		font-family:Helvetica; 
		font-size:10pt;
	}
</style>
<head>
	<title>SLE Test Accession Form</title>
</head>
<body>
	<!--Header image and Unique Sample ID input-->
	<table id="table1">
		<tr>
			<td>
				<div id="Veracis_image"><img src="/home/jpitts/Documents/LIMS/Reports/Test_Report_files/SLE-keylogo-Registered.jpg" style="width:1.88in;height:1.11in; text-align:left;"></div>
			</td>
			<td>
				<strong><p style="text-align:center;font-family:Helvetica;font-size:20pt">Test Requisition Form</p></strong>
			</td>
			<td>
				<p style="text-align:right; font-size:15pt;">Unique Sample ID&nbsp;&nbsp;<input style="background-color:yellow" type="text" name="UniqueSampleNumber" autofocus></p>
			</td>
		</tr>
	</table>
	<!--  1. Patient Information header -->
	<table id="table2" class="alpha" style="width:100%">
		<tr>
			<td>
				<strong><p style="font-family:Helvetica; background-color:#660066; color:white; font-size:12pt">1.&nbsp;&nbsp;&nbsp;Patient Information</p></strong>
			</td>
		</tr>
	</table>
	<!--  Repeat order question (trigger query of existing patients) -->
	<table id="table3" class="beta">
		<tr>
			<td>
				<p style="font-family:Helvetica; font-size:10pt">Is this a repeat order for this patient?&nbsp;&nbsp;<input type="checkbox">yes&nbsp;&nbsp;<input type="checkbox">no</p>
			</td>
		</tr>
	</table>
	<!-- Data input section for patient yellow sections are required -->
	<table id="table4" class="gama">
		<tr>
			<td colspan="2">
				<strong><p>Patient First Name:&nbsp;&nbsp;<input style="background-color:yellow" type="text" name="PatientFirstName"></p></strong>
			</td>
			<td colspan="2">
				<strong><p>Patient Last Name:&nbsp;&nbsp;<input style="background-color:yellow" type="text" name="PatientLastName"></p></strong>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<p>Medical Record Number (alt for name):&nbsp;&nbsp;<input type="text" name="MedicalRecordNumber"></p>
			</td>
			<td colspan="2">
				<p>Social Security Number:&nbsp;&nbsp;<input style="background-color:yellow" type="text" name="SSN"></p>
			</td>
		</tr>
			<td colspan="2">
				<strong><p>Date of Birth (mm/dd/yyyy):&nbsp;&nbsp;<input style="background-color:yellow" type="date" name="DOB"></p></strong>
			</td>
			<td>
				<p >Gender:&nbsp;&nbsp;<input style="background-color:yellow" type="checkbox">Female &nbsp;&nbsp;<input type="checkbox">Male</p>
			</td>
		<tr>
			<td colspan="4">
				<p>Race/Ethnicity:&nbsp;&nbsp;<input type="checkbox">African American or Black &nbsp;&nbsp; <input type="checkbox">Asian, Indian, Middle Eastern&nbsp;&nbsp;<input type="checkbox">Caucasian &nbsp;&nbsp;<input type="checkbox">Hispanic or Latino</p>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<p><input type="checkbox">Other, please specify&nbsp;&nbsp;<input type="text" name"PatientEthnicity"> </p>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<p>Street Address:&nbsp;&nbsp;<input type="text" name="PatientAddress"></p>
			</td>
			<td colspan="2">
				<p>Marital Status:&nbsp;&nbsp;<input type="checkbox">Single &nbsp;&nbsp;<input type="checkbox">Married <input type="checkbox">Other</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>City:&nbsp;&nbsp;<input type="text" name="PatientCity"></p>
			</td>
			<td>
				State:
					<select>
					<option value="AL">Alabama</option>
					<option value="AK">Alaska</option>
					<option value="AZ">Arizona</option>
					<option value="AR">Arkansas</option>
					<option value="CA">California</option>
					<option value="CO">Colorado</option>
					<option value="CT">Connecticut</option>
					<option value="DE">Delaware</option>
					<option value="DC">District Of Columbia</option>
					<option value="FL">Florida</option>
					<option value="GA">Georgia</option>
					<option value="HI">Hawaii</option>
					<option value="ID">Idaho</option>
					<option value="IL">Illinois</option>
					<option value="IN">Indiana</option>
					<option value="IA">Iowa</option>
					<option value="KS">Kansas</option>
					<option value="KY">Kentucky</option>
					<option value="LA">Louisiana</option>
					<option value="ME">Maine</option>
					<option value="MD">Maryland</option>
					<option value="MA">Massachusetts</option>
					<option value="MI">Michigan</option>
					<option value="MN">Minnesota</option>
					<option value="MS">Mississippi</option>
					<option value="MO">Missouri</option>
					<option value="MT">Montana</option>
					<option value="NE">Nebraska</option>
					<option value="NV">Nevada</option>
					<option value="NH">New Hampshire</option>
					<option value="NJ">New Jersey</option>
					<option value="NM">New Mexico</option>
					<option value="NY">New York</option>
					<option value="NC">North Carolina</option>
					<option value="ND">North Dakota</option>
					<option value="OH">Ohio</option>
					<option value="OK">Oklahoma</option>
					<option value="OR">Oregon</option>
					<option value="PA">Pennsylvania</option>
					<option value="RI">Rhode Island</option>
					<option value="SC">South Carolina</option>
					<option value="SD">South Dakota</option>
					<option value="TN">Tennessee</option>
					<option value="TX">Texas</option>
					<option value="UT">Utah</option>
					<option value="VT">Vermont</option>
					<option value="VA">Virginia</option>
					<option value="WA">Washington</option>
					<option value="WV">West Virginia</option>
					<option value="WI">Wisconsin</option>
					<option value="WY">Wyoming</option>
				</select>	
			</td>
			<!-- State Selection -->
			<td>
				<p>Zip Code: &nbsp;&nbsp;<input type="zip" name="PatientZipCode"></p>
			</td>
			<td>
				<p>Phone Number:&nbsp;&nbsp;<input type="text" pattern="\d{5}-?(\d{4})?"name="PatientPhoneNumber"></p>
			</td>
		</tr>
		
	</table>
	<!--  2. Patient Concent header -->
	<table id="table5" class="alpha">	
		<tr style="height:0.24in">
			<td>
				<strong><p style="font-family:Helvetica; background-color:#660066; color:white; font-size:12pt">2. &nbsp;&nbsp;&nbsp; Patient Consent (Check Yes or No)</p></strong>
			</td>
		</tr>
	</table>
	<!-- Patient Concent data, options are yes no not give, if yes need date  -->
	<table id="table6" class="epsilon">
		<tr>
			<td>
				<p><input type="checkbox">Yes&nbsp;&nbsp;<input type="checkbox">No</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>Printed Name &nbsp;&nbsp;<input type="text" name="PrintedName"></p>
			</td>
			<td>
				<p>Signed&nbsp;&nbsp;<input type="checkbox">Yes&nbsp;&nbsp;<input type="checkbox">No</p>
			</td>
			<td>
				<p>Date&nbsp;&nbsp;<input type="date" name="ConcentDate"></p>
			</td>
		</tr>
	</table>
	<!-- 3. Clinical Information header -->
	<table id="table7" class="alpha">	
		<tr style="height:0.24in">
			<td>
				<strong><p style="font-family:Helvetica; background-color:#660066; color:white; font-size:12pt">3. &nbsp;&nbsp;&nbsp; Clinical Information (Check if Applicable)</p></strong>
			</td>
		</tr>
	</table>
	<!-- Clinical information data input -->
	<table id="table8" class="gama">
		<tr>
			<td>
				<p>ANA Testing:&nbsp;&nbsp;<input type="checkbox">Positive &nbsp;&nbsp;<input type="checkbox">Negative &nbsp;&nbsp;<input type="checkbox">Not performed</p>
			</td>
			<td>
				<p>Other Tests Ordered:&nbsp;&nbsp;<input type="checkbox">X-ray&nbsp;&nbsp;<input type="checkbox">Other Dx (list):&nbsp;&nbsp;<input type="text" name="OtherTestsRun"></p>
			</td>
		</tr>
		<tr>
			<td>
				<p><input type="checkbox">Rash</p>
			</td>
			<td>
				<p><input type="checkbox">Seizures or psychosis</p>
			</td>
		</tr>
		<tr>
			<td>
				<p><input type="checkbox">Mouth sores</p>
			</td>
			<td>
				<p><input type="checkbox">Hair loss</p>
			</td>
		</tr>
		<tr>
			<td>
				<p><input type="checkbox">Joint pain, if yes please specify &nbsp;&nbsp;<input type="JointPainLocation"></p>
			</td>
			<td>
				<p><input type="checkbox">Other symptoms, please specify &nbsp;&nbsp;<input type="text" name="OtherSymptoms"></p>
			</td>			
		</tr>
		<tr>
			<td>
				<p><input type="checkbox">Inflammation, if yes, please specify &nbsp;&nbsp;<input type="text" name="LocationofInflmmation"></p>
			</td>
		</tr>
	</table>
	<!-- 4. Diagnosis and ICD-10 Codes header -->
	<table id="table9" class="alpha">	
		<tr style="height:0.24in">
			<td>
				<strong><p style="font-family:Helvetica; background-color:#660066; color:white; font-size:12pt">4. &nbsp;&nbsp;&nbsp; Diagnosis & ICD-10 Codes (Check if Applicable)</p></strong>
			</td>
		</tr>
	</table>
	<!-- Diagnosis and ICD-10 Codes data input allow multiple selections -->
	<table id="table10" class="gama">
		<tr>
			<td>
				<p><input type="checkbox"><u>D89.89</u>-Other specified disorders involving the immune mechanism, not elsewhere classified</p>
			</td>
			<td>
				<p><input type="checkbox"><u>M32.10</u>-Systemic lupus erythematosus, organ or system involvement unspecified</p>
			</td>
		</tr>
		<tr>
			<td>
				<p><input type="checkbox"><u>D89.9</u>-Disorder involving the immune mechanism, unspecified</p>
			</td>
			<td>
				<p><input type="checkbox"><u>M35.9</u>-Systemic involvement of connective tissue, unspecified</p>
			</td>
		</tr>
		<tr>
			<td>
				<p><input type="checkbox"><u>L93.2</u>-Other local lupus erythematosus</p>
			</td>
			<td>
				<p><input type="checkbox">Other, please specify&nbsp;&nbsp;<input type="text" name="OtherDiagnosisCode"></p>
			</td>
		</tr>
	</table>
	<!--5. Ordering Healthcare Provider  -->
	<table id="table11" class="alpha">	
		<tr style="height:0.24in">
			<td>
				<strong><p style="font-family:Helvetica; background-color:#660066; color:white; font-size:12pt">5. &nbsp;&nbsp;&nbsp; Ordering Healthcare Provider Signature</p></strong>
			</td>
		</tr>
	</table>
	<!-- Health Care Provider data entry -->
	<table id="table12" class="gama">
		<tr>
			<td>
				<p>Institution/Practice Name:&nbsp;&nbsp;<input type="text" name="PracticeName"></p>
			</td>
			<td>
				<p>NPI#&nbsp;&nbsp;<input type="text" name="NPI"></p>
			</td>
		</tr>
		<tr>
			<td>
				<p>Printed Name:&nbsp;&nbsp;<input type="text" name="HealthCareProviderPrintedName"></p>
			</td>
			<td>
				<p>Signed:<input type="checkbox">Yes&nbsp;&nbsp;<input type="checkbox">No</p>
			</td>
			<td>
				<p>Date:<input type="date" name="SignatureDate"></p>
			</td>
		</tr>
	</table>
	<!-- 6. Specimen Information header -->
	<table id="table13" class="alpha" style="width:100%">	
		<tr style="height:0.24in">
			<td>
				<strong><p style="font-family:Helvetica; background-color:#660066; color:white; font-size:12pt">6. &nbsp;&nbsp;&nbsp; Specimen Information (ship specimen within 24 hours of collection using kit supplied by Veracis)</p></strong>
			</td>
		</tr>
	</table>
	<!-- Specimen information data entry collection date required -->
	<table id="table14" class="gama" style="width:100%">
		<tr>
			<td>
				<p>Name of Drawing Lab:&nbsp;&nbsp;<input type="text" name="DrawLocation"></p>
			</td>
			<td>
				<p>Drawing Lab Phone Number:&nbsp;&nbsp;<input type="tel" pattern="\d{3}[\-]\d{3}[\-]\d{4}" name="DrawingLabPhoneNumber"></p>
			</td>
		</tr>
		<tr>
			<td>
				<p>Blood Draw Performed by:&nbsp;&nbsp;<input type="text" name="PhlebotomistName"></p>
			</td>
			<td>
				<p>Signed:<input type="checkbox">Yes&nbsp;&nbsp;<input type="checkbox">No</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>Date of Collection:&nbsp;&nbsp;<input style="background-color:yellow" type="date" name="DateofCollection"></p>
			</td>
			<td>
				<p>Date of Shipment:&nbsp;&nbsp;<input type="date" name="DateofShipment"></p>
			</td>
	</table>
<button type="button">Save</button>
</body>
</html>
