<!DOCTYPE html>
<html lang="en">
<style>
    @page{margin:0cm 0cm 0cm 0cm}
    #table1, #table2,#table3, #table4, #table5, #table6, #table8, #table9, #table10, #table11,#table12, #table13, #table14, #table15, #table16, #table17, #table18, #table19,
    #table20, #table21,#table22,#table23,#table24,#table25,#table26{
        width:8in;
        border-collapse:collapse;
    }
    #table7{
        width:7in;
        border-collapse:collapse;
    }
    .alpha p{
        font-family:Helvetica;
        font-size:10pt;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    .alpha table, tr, td {
        border:0.5px solid black;
    }
    .alpha table{
        width:8in;
        border-collapse:collapse;
    }
    .alpha tr, td{
        padding-top: 0px;
        padding-right: 2px;
        padding-bottom: 0px;
        padding-left: 2px;
    }

    .beta p{
        font-family:Helvetica;
        font-size:10pt;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    .beta p{
        font-family:Helvetica;
        font-size:9pt;
    }
    .beta td{
        text-align:center;
    }
    .gama p{
        font-family:Helvetica;
        font-size:10pt;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    .delta p{
        font-family:Helvetica;
        font-size:9pt;
    }
    .gama p{
        font-family:Helvetica;
        font-size:9pt;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    .delta p{
        font-family:Helvetica;
        font-size:9pt;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    .delta th{
        background-color:lightgrey;
        text-align:center;
    }
</style>
<head>
    <meta charset="UTF-8">
    <title>SLE-key v1.0</title>
</head>
<body>
    <table id="table1" class="gama">
        <tr>
            <td colspan="2">
                <p><strong>Assay (File Name) :</strong> SLE-key&reg v1.0 Test #### (Veracsi Test Run #####)</p>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <p><strong>PURPOSE:</strong> Clinical Testing</p>
            </td>
        </tr>
        <tr>
            <td>
                <p><strong>Test Date:&nbsp;&nbsp;20/20/2016 </strong></p>
            </td>
            <td>
                <p><strong>Performer: Person Planning</strong></p>
            </td>
        </tr>
        <tr>
            <td colspan="">
                <p><strong>Scan Data</strong></p>
            </td>
            <td>
                <p><strong>Witness</strong></p>
            </td>
        </tr>
        <tr>
            <td>
                <p><strong>Scan PMT</strong></p>
            </td>
            <td>
                <p><strong>QC Reviewer</strong></p>
            </td>
        </tr>
    </table>
<br>
    <table id="table2" class="beta">
        <tr>
            <td style="text-align: center;background-color: lightgray; " colspan="8">
                <p style="font-size: 10pt"><strong>Test Form</strong></p>
            </td>
        </tr>
        <tr>
            <td>
                <p><strong>Sequence</strong></p>
            </td>
            <td>
                <p><strong>Scan Slot</strong></p>
            </td>
            <td>
                <p><strong>&#10004 2</strong></p>
            </td>
            <td>
                <p><strong>Slide ID</strong></p>
            </td>
            <td>
                <p><strong>&#10004 1</strong></p>
            </td>
            <td>
                <p><strong>Veracis Specimen ID#</strong></p>
            </td>
            <td>
                <p><strong>Veracis Aliquot #</strong></p>
            </td>
            <td>
                <p><strong>Comments</strong></p>
            </td>
        </tr>
        <tr>
            <td>
                <p><strong>1</strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
        </tr>
        <tr>
            <td>
                <p><strong>2</strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
        </tr>
        <tr>
            <td>
                <p><strong>3</strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
        </tr>
        <tr>
            <td>
                <p><strong>4</strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
        </tr>
        <tr>
            <td>
                <p><strong>5</strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
        </tr>
        <tr>
            <td>
                <p><strong>6</strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
        </tr>
        <tr>
            <td>
                <p><strong>7</strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
        </tr>
        <tr>
            <td>
                <p><strong>8</strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
        </tr>
        <tr>
            <td>
                <p><strong>9</strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
        </tr>
        <tr>
            <td>
                <p><strong>10</strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
        </tr>
        <tr>
            <td>
                <p><strong>11</strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
        </tr>
        <tr>
            <td>
                <p><strong>12</strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
        </tr>
        <tr>
            <td>
                <p><strong>13</strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
        </tr>
        <tr>
            <td>
                <p><strong>14</strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
        </tr>
        <tr>
            <td>
                <p><strong>15</strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
        </tr>
        <tr>
            <td>
                <p><strong>16</strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
        </tr>
        <tr>
            <td>
                <p><strong>17</strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
        </tr>
        <tr>
            <td>
                <p><strong>18</strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
        </tr>
        <tr>
            <td>
                <p><strong>19</strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
        </tr>
        <tr>
            <td>
                <p><strong>20</strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
        </tr>
        <tr>
            <td>
                <p><strong>21</strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
        </tr>
        <tr>
            <td>
                <p><strong>22</strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
        </tr>
        <tr>
            <td>
                <p><strong>23</strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
        </tr>
        <tr>
            <td>
                <p><strong>24</strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
        </tr>
        <tr>
            <td>
                <p><strong>25</strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
        </tr>
        <tr>
            <td>
                <p><strong>26</strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
        </tr>
        <tr>
            <td>
                <p><strong>27</strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
        </tr>
        <tr>
            <td>
                <p><strong>28</strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
        </tr>
        <tr>
            <td>
                <p><strong>29</strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
        </tr>
        <tr>
            <td>
                <p><strong>30</strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
        </tr>
        <tr>
            <td>
                <p><strong>31</strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
        </tr>
        <tr>
            <td>
                <p><strong>32</strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
        </tr>
        <tr>
            <td>
                <p><strong>33</strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
        </tr>
        <tr>
            <td>
                <p><strong>34</strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
        </tr>
        <tr>
            <td>
                <p><strong>35</strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
        </tr>
        <tr>
            <td>
                <p><strong>36</strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
            <td>
                <p><strong></strong></p>
            </td>
        </tr>
    </table>
<br>
    <table id="table3" class="delta">
        <tr style="background-color:lightgrey;">
            <td style="text-align:center;width:250px">
                <p style="font-size: 10pt"><strong>Solutions</strong></p>
            </td>
            <td style="text-align:center">
                <p style="font-size: 10pt"><strong>Batch #</strong></p>
            </td>
            <td style="text-align:center;width:250px">
                <p style="font-size: 10pt"><strong>Expiration Date</strong></p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Reverse Osmosis Water (ROW)</p>
            </td>
            <td style="text-align:center">
                <p>N/A</p>
            </td>
            <td style="text-align:center">
                <p>N/A</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>10X PBS</p>
            </td>
            <td>
                <p></p>
            </td>
            <td>
                <p></p>
            </td>
        </tr>
        <tr>
            <td>
                <p>1X PBS</p>
            </td>
            <td>
                <p></p>
            </td>
            <td>
                <p></p>
            </td>
        </tr>
        <tr>
            <td>
                <p>1X PBS - 22.4% Tween 20</p>
            </td>
            <td>
                <p></p>
            </td>
            <td>
                <p></p>
            </td>
        </tr>
        <tr>
            <td>
                <p>1X PBS - 1% Casein</p>
            </td>
            <td>
                <p></p>
            </td>
            <td>
                <p></p>
            </td>
        </tr>
        <tr>
            <td>
                <p>G&alpha;hulgG-Cy5 in 50% Glycerol</p>
            </td>
            <td>
                <p></p>
            </td>
            <td>
                <p></p>
            </td>
        </tr>
        <tr>
            <td>
                <p>G&alpha;hulgM-AF647 in 50% Glycerol</p>
            </td>
            <td>
                <p></p>
            </td>
            <td>
                <p></p>
            </td>
        </tr>
        <tr>
            <td>
                <p>70% Ethanol</p>
            </td>
            <td>
                <p></p>
            </td>
            <td>
                <p></p>
            </td>
        </tr>
    </table>

<br>
    <table id="table5" class="delta">
        <tr>
            <td style="text-align: center;background-color: lightgray; " colspan="3">
                <p style="font-size: 10pt"><strong>Serum Addition</strong></p>
            </td>
        </tr>
        <tr>
            <td style="width:250px;height:50px;text-align:left;vertical-align:top">
                <p>Start time for adding serum (hh:mm):</p>
            </td>
            <td style="height:50px;text-align:left;vertical-align:top">
                <p>Humidity (%):</p>
            </td>
            <td style="width:250px;height:50px;text-align:left;vertical-align:top">
                <p>Room Temperature (&degC):</p>
            </td>
        </tr>
    </table>
    <table id="table6" class="delta">
        <tr>
            <td style="width:35px;text-align:center;">
                <p><strong>1</strong></p>
            </td>
            <td>
                <p>Dispense 135&upsilon;L of diluted serum specimen ustin a new tip and apply coverslip</p>
            </td>
            <td style="width:30px;text-align:center;">
                <p></p>
            </td>
        </tr>
        <tr>
            <td style="width:35px;text-align:center;">
                <p><strong>2</strong></p>
            </td>
            <td>
                <p>Have the witness check the slide # and serum specimen # on the test form against the slide being prepared. If numbers match, place a check mark in column 1 on the test form.  Indicate any issues in the comments section</p>
            </td>
            <td>
                <p></p>
            </td>
        </tr>
        <tr>
            <td style="width:35px;text-align:center;vertic-align:center">
                <p><strong>3</strong></p>
            </td>
            <td>
                <p>Incubate the slides in the humidity chamber for 1 hour at 35.5&deg;C.  Rocking at 15 rpm.</p>
            </td>
            <td>
                <p></p>
            </td>
        </tr>
    </table>
    <table id="table8" class="delta">
        <tr>
            <td style="width:250px;height:50px;text-align:left;vertical-align:top">
                <p>Finish time for adding specimens (hh:mm):</p>
            </td>
            <td style="height:50px;text-align:left;vertical-align:top">
                <p>Humidity (%):</p>
            </td>
            <td style="width:250px;height:50px;text-align:left;vertical-align:top">
                <p>Room Temperature (&degC):</p>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="width:250px;height:50px;text-align:left;vertical-align:top">
                <p>Witness Signature:</p>
            </td>
            <td style="width:250px;height:50px;text-align:left;vertical-align:top">
                <p>Date:</p>
            </td>
    </table>
<br>
    <table id="table9" class="delta">
        <tr>
            <td style="text-align: center;background-color: lightgray; " colspan="3">
                <p style="font-size: 10pt"><strong>Secondary Antibody Addition</strong></p>
            </td>
        </tr>
        <tr>
            <td style="width:250px;height:50px;text-align:left;vertical-align:top">
                <p>Start time for adding serum (hh:mm):</p>
            </td>
            <td style="height:50px;text-align:left;vertical-align:top">
                <p>Humidity (%):</p>
            </td>
            <td style="width:250px;height:50px;text-align:left;vertical-align:top">
                <p>Room Temperature (&degC):</p>
            </td>
        </tr>
    </table>
    <table id="table10" class="delta">
        <tr>
            <td style="width:35px;text-align:center;">
                <p><strong>1</strong></p>
            </td>
            <td>
                <p>Dispense 135&upsilon;L of diluted serum specimen ustin a new tip and apply coverslip</p>
            </td>
            <td style="width:30px;text-align:center;">
                <p></p>
            </td>
        </tr>
        <tr>
            <td style="width:35px;text-align:center;">
                <p><strong>2</strong></p>
            </td>
            <td>
                <p>Have the witness check the slide # and serum specimen # on the test form against the slide being prepared. If numbers match, place a check mark in column 1 on the test form.  Indicate any issues in the comments section</p>
            </td>
            <td>
                <p></p>
            </td>
        </tr>
        <tr>
            <td style="width:35px;text-align:center;vertic-align:center">
                <p><strong>3</strong></p>
            </td>
            <td>
                <p>Incubate the slides in the humidity chamber for 1 hour at 35.5&deg;C.  Rocking at 15 rpm.</p>
            </td>
            <td>
                <p></p>
            </td>
        </tr>
    </table>
    <table id="table11" class="delta">
        <tr>
            <td style="width:250px;height:50px;text-align:left;vertical-align:top">
                <p>Finish time for adding specimens (hh:mm):</p>
            </td>
            <td style="height:50px;text-align:left;vertical-align:top">
                <p>Humidity (%):</p>
            </td>
            <td style="width:250px;height:50px;text-align:left;vertical-align:top">
                <p>Room Temperature (&degC):</p>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="width:250px;height:50px;text-align:left;vertical-align:top">
                <p>Witness Signature:</p>
            </td>
            <td style="width:250px;height:50px;text-align:left;vertical-align:top">
                <p>Date:</p>
            </td>
    </table>
</body>
</html>
